.wrapper {
    display: flex;
    justify-content: center;
}
.error {
    border: 1px solid red;
}

.error-message {
    color: red;
}

.active-filter {
    background-color: lightslategrey;
}

li {
    list-style-type: none;
    padding: 5px 0;
}
.film-item {
    display: flex;
    justify-content: space-between;
}
ul {
    margin-left: 0;
    padding-left: 0;
}
.films-wrapper {
    min-height: 80px;
}
input {
    outline: none;
}